.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

.extra-info {
  background: #f9f9f9;
  font-size: 0.9em;
  padding: 5px;
  margin: 10px 0;
  border-radius: 4px;
}

.in-stock { color: green; font-weight: bold; }
.out-of-stock { color: red; }

.sidebar {
  position: sticky;
  top: 20px;
  height: fit-content;
  width: 200px;
  border-radius: 4px;
  background: #f9f9f9;
}

/* Contenedor de la imagen */
.image-container {
  position: relative;
  overflow: hidden; 
  border-radius: 4px;
}

/* Capa de descripción (Oculta por defecto) */
.description-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75); 
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.9rem;
  
  /* Animación suave */
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Hover */
.image-container:hover .description-overlay {
  opacity: 1;
}