body {
  margin: 0;
  padding: 0;

  background-image: url(''); 
  
  background-attachment: fixed; 
  
  background-size: cover; 
  
  background-position: center;
  
  background-repeat: no-repeat;

  background-color: antiquewhite;

}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.app-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.content {
  flex: 1;
}