.catalog-layout {
  display: flex;
  align-items: flex-start; 
  gap: 20px;
  padding: 20px;
  color: darkslateblue;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

.extra-info {
  background: rgba(249, 249, 249, 0.2);
  border: 1px solid #ddd;
  font-size: 0.9em;
  padding: 5px;
  margin: 10px 0;
  border-radius: 4px;
}

.in-stock { color: green; font-weight: bold; }
.out-of-stock { color: red; }

.sidebar {
  position: sticky;
  top: 50px;
  height: fit-content;
  width: 200px;
  border-radius: 20px;
  border: black 1px solid;
  background: rgba(249, 249, 249, 0.2);
}

/* Contenedor de la imagen */
.image-container {
  position: relative;
  overflow: hidden; 
  border-radius: 4px;
}

/* Capa de descripción (Oculta por defecto) */
.description-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75); 
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.9rem;
  
  /* Animación suave */
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Hover */
.image-container:hover .description-overlay {
  opacity: 1;
}



.product-card{
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 220px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background: rgba(249, 249, 249, 0.2);
}

.image-container img{
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}
