.user-profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: darkslateblue;
}

.icono-usuario {
    height: 150px;
    width: 150px;
    margin-top: 50px;
}

.datos-usuario {
    font-size: 1.2em;
    margin: 10px 0;
}